{{!-- <form action="/target/" method="get">
    <input type="text" name="test1" placeholder="Значение 1" >
    <input type="text" name="test2" placeholder="Значение 2" >
    <input type="text" name="test3" placeholder="Значение 3" >
    <input type="submit">
</form> --}}

{{!-- <form action="/target/" method="get">
    <input type="text" name="test1" placeholder="Как ваше имя?" >
    <input type="text" name="test2" placeholder="В каком городе вы живете?" >
    <input type="text" name="test3" placeholder="В какой стране вы живете?" >
    <input type="submit">
</form> --}}

{{!-- <form action="/target/" method="get">
    <input type="text" name="test1" placeholder="Напишите пожалуйста отзыв " >
    <input type="submit">
</form> --}}

{{!-- <form action="/target/" method="post">
    М<input type="radio" name="gender" value="1">
    Ж<input type="radio" name="gender" value="2">
    <input type="submit">
</form> --}}

<form action="/target/" method="post">
	<select name="test">
		<option value="1">Казахстан</option>
		<option value="2">Россия</option>
		<option value="3">Грузия</option>
	</select>
	<input type="submit">
</form>